.intestazione {
    margin-top: 10px;
    background-image: url("../img/flame.gif");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-bottom: 2px solid green;
}

.logoIntestazione{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}
